.feedback__controls {
  margin-bottom: 20px;
}
.feedback__button {
  width: 80px;
  border: none;
  margin-right: 20px;
  border-radius: 10px;
  background: burlywood;
  color: white;
  font-size: large;
}
.feedback__button:hover {
  background: rgb(147, 119, 71);
}
